@import 'https://fonts.googleapis.com/css?family=Righteous|Copse';

body {
  background-color: #E2F7FD;
}

h1 {
  margin-top: 10px;
  font-family: 'Righteous', cursive;
  text-align: center;
  font-size: 4rem;
  color: #001f3f;
  margin-bottom: 20px;
}

h3 {
  font-size: ;
}

.home.container {
  padding-top: 15px;
}

.home > .auction-listing {
  margin-bottom: 20px;
}

.home > .row > div {
  padding-right: 0px;
  padding-left: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.search-text {
  text-align: right;
  margin-right: 10px;
  font-size: 18px;
}

.current-highest-bid {
  margin-top: 10px;
}

.current-bid {
  margin-top: 10px;
}

.item-ticker {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 5px;
}

.rows-8-vh {
	height: 12.5vh;
}

.bid-button-container {
  /*height: 50px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bid-button {
  align-self: center;
}
.nav-item {
  vertical-align: middle;
}

#nav-content {
  padding-right: 0px;
}

#navbar1 {
  background-color: #001f3f;
}

.item-title {
  font-family: 'Copse', serif;
  color: black;
}

h2.item-title {
  padding-left: 15px;
  font-size: 2.5rem;
}

#navbar2 {
  border-radius: 0px;
  background-color: #001f3f;
}

#navbar2 .nav-item {
  text-align: right;
  font-size: 0.95rem;
  margin-left: 0px;
  margin-right: 0px;
}

.navbar-brand {
  margin-right: 0px;
}

#brand-name {
  padding-right: 50px;
  font-size: 1.8rem;
  font-family: 'Righteous', cursive;
  padding-top: 0px;
  padding-bottom: 0px
}


.product-detail {
  margin-top: 20px;
}

h2.item-title {
  margin-bottom: 10px;
}
.product-detail > div.row {
  margin-top: 20px;
  margin-bottom: 15px;
}

.product-profile-image > img {
  border-radius: 6px;
  border: 1px black solid;
  max-width: 250px;
  max-height: 200px;
}

.item-info > div {
  margin-bottom: 5px;
}

.card {
  background: white;
  padding: 5px;
  border: 1px #DDDDDD solid;
  border-radius: 6px;
}






#end-date {
  width: 50%;
}

#add-auction-prices {
  margin-left: -15px;
}

#add-auction-item {
  padding: 50px;
  border-radius: 20px;
  background-color: rgba(102,175,233, .5);
}

.auction-item-title-hr {
  width: 25vw;
  float: left;
}

.alert{
  display: none;
}

.bid-container {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background: rgba(211, 211, 211, 0.5);

}

.bid-entry {
  border-radius: 10px;
}

/*#navbar2 ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#navbar1 ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}*/

div.dashboard {
  margin-top: 20px;
}

.setting-btn {
  margin-left: 15px;
}

.setting-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-form {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  float: right;
  font-size: 22px;
}

.search-form input {
  padding-left: 0px;
}

.auction-listings > .row {
  border-radius: 5px;
  border: 1px #DDDDDD solid;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: white;
}

.listing-content {
  padding-left: 0px;
}

.landing-video {
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
}

.listing-image {
  max-width: 100%;
  max-height: 150px;
}

video {
  position: absolute;
  top: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
}

.video-container {
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  overflow: hidden;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.landing-video-text {
  transform: translateY(-20%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-video-description {
  color: white;
  font-size: 1.6rem;
  font-family: "Palatino";
}

.landing-video-title {
  font-family: "Righteous", cursive;
  color: white;
  font-weight: bold;
  font-size: 9rem;
}

.intro-tickr-header {
  text-align: center;
  font-size: 3rem;
  color: black;
}

hr {
  margin-top: 0px;
  height: 2px;
  width: 50vw;
}

.intro-tickr-text {
  font-family: "Palatino";
  text-align: center;
  color: black;
}

.img-circle {
    background-color: gray;
    border-radius: 50%;
    height: 13vh;
    width: 13vh;
}

.what-is-tickr-container {
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.auction-item-container {
  margin: 20px;
  padding: 20px;
}

.landing-page {
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
}
.no-margin {
  margin: 0;
}

.auction-price {
  font-size: 1.5rem;
}

.auction-time {
  font-size: 1.5rem;
}

#bid-form {
  padding-top: 15px;
}

#bid-form > input {
  margin-right: 10px;
  width: 50%;
}

.auction-price span {
  font-size: 2rem;
}

.auction-item-details div {
  margin-top: 10px;
  float: left;
}

.auction-time span {
  font-size: 2rem;
}


.col-centered{
    float: none;
    margin: 0 auto;
}

.auction-item-container {
  padding: 50px;
  border-radius: 20px;
  width: 90vw;
  background-color: rgba(102,175,233, .5);
}

.navbar-break {
  height: 60px;
}

.navbar-nav {
  padding-top: 3px;
}

.navbar-toggler {
  float: right;
}

.btn.edit {
  float: right
}



/* PROFILE */

.user-profile {
  padding-top: 15px;
}

.profile-left {
  text-align: center;
}

/*** User Name ***/

.profile-left > h4 {
  margin-top: 8px;
}

.profile-image {
  width: 100%;
  background: black;
  border-radius: 10px;
  border: 4px silver solid;
}

.profile-image > img {
  width: 80%;
  border-radius: 8px;
  margin: 9% auto;
}

.profile-right > h2 {
  text-align: center;
}

/*** User Description ***/

.user-description {
  padding: 8px;
  border: 1px solid silver;
  border-radius: 6px;
  margin-top: 15px;
  font-size: 13px;
  background: white;
  text-align: left;
}

.star-rating {
  padding: 7%;
  margin-top: 3%;
  background: white;
  border-radius: 5px;
  border: 1px grey solid;
}

.stars {
  max-width: 200px;
}

.current-rating {
  min-width: 200px;
  text-align: center;
}

.account-name {
  padding-left: 22px;
}

textarea.about-me {
  font-size: 13px;
  max-width: 100%;
}

.account-input {
  font-size: 13px;
}

.about-me {
  padding: 20px;
  border: 1px solid silver;
  border-radius: 6px;
  margin-top: 15px;
  font-size: 13px;
  background: white;
  min-height: 100px;
}

.edit-about-me {
  padding-top: 20px;
  padding-bottom: 20px;
}

.settings {
  padding: 20px;
}